* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 1320px;
	margin: 0px auto;
	padding-left: 12px;
	padding-right: 12px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -12px;
	margin-right: -12px;

}

.d-flex {
	display: flex;
	flex-wrap: wrap;
}
.ol,ul {
	list-style: none;
}
.justify-center {
	justify-content: center;
}

.justify-between {
	justify-content: space-between;
}

.align-center {
	align-items: center;
}

.justify-end {
	justify-content: end;
}

.py-100{
	padding: 100px 0;
}

.w-1 {
	width: 8.33%;
}

.w-2 {
	width: 16.66%;
}

.w-3 {
	width: 25%;
}

.w-4 {
	width: 33.33%;
}

.w-5 {
	width: 41.66%;
}

.w-6 {
	width: 50%;
}

.w-7 {
	width: 58.33%;
}

.w-8 {
	width: 66.66%;
}

.w-9 {
	width: 75%;
}

.w-10 {
	width: 83.33%;
}

.w-11 {
	width: 91.66%;
}

.w-12 {
	width: 100%;
}
.w-1,
.w-2,
.w-3,
.w-4,
.w-5,
.w-6,
.w-7,
.w-8,
.w-9,
.w-10,
.w-11,
.w-12 {
	padding-left: 12px;
	padding-right: 12px;

}

:root {
	--primary-color: #6730e3;
	--secondary-color: linear-gradient(to right, rgba(32, 40, 119, 0.95), rgba(55, 46, 149, 0.95), rgba(83, 49, 177, 0.90), rgba(114, 48, 205, 0.85), rgba(150, 41, 230, 0.95));
	;
	--white-color: #fff;
	--black-color: #000;
	--gray-color: #707070;
	--fs-14: 14px;
	--fs-18: 18px;
	--fs-15: 15px;
	--fs-36: 36px;
	--fs-42: 42px;
	--fw-100: 100;
	--fw-200: 200;
	--fw-300: 300;
	--fw-400: 400;
	--fw-500: 500;
	--fw-600: 600;
	--fw-700: 700;
	--fw-800: 800;
	--fw-900: 900;
	--font1:'Open Sans';
	--font2:: 'Montserrat';

}
.py12{
	padding-top: 12px;
	padding-bottom: 12px;
}
.d-none{
	display:none;
}
img{
	max-width: 100%;
	display: block;
}
a{
	text-decoration: none;
}
body {
	font-family: 'open sens';

}

/* header start */
header {
	background-image: var(--secondary-color);
	padding: 13px;
	position: absolute;
	width: 100%;
	z-index: 12;
}
.menu ul li a {
	text-decoration: none;
}
.menu ul li {
	padding: 10px 15px;
	position: relative;
}

.menu ul li i {
	padding-left: 5px;
}

.menu ul li a {
	color: white;
	text-transform: capitalize;
}

header .menu ul li .dropdown {
	position: absolute;
	content: '';
	background-color: white;
	border: 5px solid gray;
	display: block;
	width: 250px;
	top: 50px;
	left: 50%;
	visibility: hidden;
	opacity: 0;
	transform: translatex(-50%);
	transition: 1s;

}

header .menu ul li .dropdown::before {
	position: absolute;
	content: '';
	box-sizing: border-box;
	top: -20px;
	left: 50%;
	transform: translatex(-50%);
	border: 10px solid transparent;
	border-bottom-color: white;

}

header .menu ul li .dropdown ul li {
	margin: 0;
	z-index: 1;
	position: relative;

}

header .menu ul li .dropdown ul li a {
	color: var(--black-color);
}

header .menu ul li:hover .dropdown {
	background-color: white;
	visibility: visible;
	opacity: 1;
	top: 90%;
}

header .menu ul li .dropdown ul li:hover {
	background-color: rgba(128, 128, 128, 0.266);
}
header .toggle i{
	color:var(--white-color);
}

/* header end */
/* banner start */
.banner{
	position: relative;
	background-image: url(../img/app-hero-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
	padding-top: 100px;

}
.banner::before {
	position: absolute;
	content: '';
	background-image: linear-gradient(to right, rgba(32, 40, 119, 0.95), rgba(55, 46, 149, 0.95), rgba(83, 49, 177, 0.90), rgba(114, 48, 205, 0.85), rgba(150, 41, 230, 0.95));
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 8;
}

.banner::after {
	position: absolute;
	content: '';
	background-image: url('../img/hero-bg-shape-1.svg');
	box-sizing: border-box;
	background-position: bottom;
	background-repeat: no-repeat;
	width: 100%;
	height: 500px;
	bottom: 0;
	left: 0;
	z-index: -1;
}
.banner .banner-content {
	color:var(--white-color);
	padding-left: 0;
	padding-bottom: 100px;
	
}
.banner .banner-content h1{
	font-size:42px;
	line-height: 60px;
	margin-bottom:20px;
	font-weight: var(--fw-600);

}
.banner .banner-content p{
	font-size:18px;
	margin-bottom:25px;
	line-height: 1.70;
	padding-left: 0;
}

.banner .banner-content form{
	height: 45px;
	position: relative;
	padding-left: 0;
}

.banner .banner-content .form input{
	position: absolute;
	width:70%;
	height:60px;
	border-radius: 30px;
	border:0.5px solid #6730e3;
	text-indent: 25px;
}

.banner .banner-content .form button{
	position: absolute;
	left:50%;
	width:17%;
	height:100%;
	border-radius: 30px;
	top:2px;
	border:0.5px solid #ebebeb;
	background-color: var(--primary-color);
	color:#fff;
	transition: 0.5s;
}
.banner .banner-content .form button:hover{
	background-color: transparent;
	color:var(--primary-color);
	border: 0.5px solid var(--primary-color);
}
.banner .banner-content .video i{
	font-size: 49px;
	display:block;
	margin-right:20px;
	color:violet;
	border-radius: 50px; 
}
.banner .banner-content .video {
	margin-top:20px;	
	
}
.banner .banner-image img{
	width:85%;
	height:100%;
	padding-bottom: 100px;

}
/* banner end */
/* why start */
.why-title{
	text-align: center;
	height: 100px;
}
.why-title h2{
	margin-bottom:20px;
	font-size:36px;
	font-weight: var(--fw-600);
}
.why-title p{
	color:#707070;
	font-size: 18px;
	line-height: 30px;
}
.why-content{
	padding: 100px 0;
	padding-bottom: 0;
}
.why-content .box{
	box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.12);
    border-radius:30px ;
	padding:45px;
	transition: 0.5s;
	margin-bottom: 12px;
}
.why-content .box:hover{
 	transform: translateY(-10px);
}
.why-content .box .content{
	width:100%;
	height:100px;
	background-image:url(../img/promo-icon-bg.svg) ;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 150px;
	margin-bottom: 20px;
	position: relative;
}
.why-content .box .content i{
	position: absolute;
	top:30%;
	left:45%;
	font-size: 30px;
	color:var(--white-color);
	transform:translateY(-50%);
	transform:translateX(-50%);
	transform: rotate(-40deg);
}
.why-content .box .content2{
	width:100%;
	height:100px;
	background-image:url(../img/promo-icon-bg.svg) ;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 150px;
	margin-bottom: 20px;
	position: relative;
}
.why-content .box .content2 i{
	position: absolute;
	top:25%;
	left:50%;
	font-size: 30px;
	color:var(--white-color);
	transform:translateY(-50%);
	transform:translateX(-50%);
	
}
.why-content .box .content3{
	width:100%;
	height:100px;
	background-image:url(../img/promo-icon-bg.svg) ;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 150px;
	margin-bottom: 20px;
	position: relative;
}

.why-content .box .content3 i{
	position: absolute;
	top:27%;
	left:50%;
	font-size: 30px;
	color:var(--white-color);
	transform:translateY(-50%);
	transform:translateX(-50%);
}
.why-content h4{
	text-align: center;
	color:black;
	font-size: large;
	font-family: 'Montserrat';
	margin-bottom:15px;
	font-weight: var(--fw-600);

}
.why-content p{
	color: var(--gray-color);
	font-family: 'Open Sans';
	font-size: 14px;
	text-align: center;

}
/* why end */
/* manage start */
.manage-content h2{
	font-size:36px;
	padding-bottom: 50px;
	padding-top: 200px;
}
.manage-content .info{
	padding:0;
	margin-bottom:20px;
}
.manage-content .info .image{ 
	width:65px;
	height:65px;
	background-color:var(--white-color);
	box-shadow: 0 4px 15px 0 rgba(52, 27, 159, 0.1);
    border-radius: 4px;
	border:1px solid #ebebeb;	
}
.manage-content .info p{
	font-size: 15px;
	color:#707070;
	line-height: 25px;
	font-family: 'Open Sans';
}
.manage-image{
	padding-top:100px;
}
.manage{
	background-image: url(../img/about-bg-shape.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: auto;
	padding-bottom:100px;
	padding-top:0;
}
/* manage end */
/* share start */
.share{
	padding: 100px;
}

.share .share-content h2 {
	font-size: var(--fs-36);
	font-family: 'Montserrat';
	font-weight: 600;
	margin: 0 0 15px;
}

.share .share-content p {
	font-size: 15;
	margin: 0 0 18px;
	color: var(--gray-color);
	font-family: 'Open Sans';
}

.share .share-content img {
	box-shadow: 0 4px 15px 0 rgba(52, 27, 159, 0.1);
	width: 65px;
	height: 65px;
	padding: 15px;
	border-radius: 4px;
	border: 1px solid white;
	margin: 45px 15px 0;
}

/* share end */
/* faster-start */
.faster {
	height: 100%;
	background-image: url('../img/app-hero-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 1;

}
.faster::before {
	position: absolute;
	content: '';
	background-image: linear-gradient(to right, rgba(32, 40, 119, 0.95), rgba(55, 46, 149, 0.95), rgba(83, 49, 177, 0.90), rgba(114, 48, 205, 0.85), rgba(150, 41, 230, 0.95));
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 0.8;
}

.faster .faster-content h2 {
	font-size: var(--fs-36);
	margin: 0 0 15px;
	color: var(--white-color);
}

.faster .faster-content p {
	font-size: var(--fs-18);
	margin: 0 0 15px;
	color: var(--white-color);

}

.faster .faster-image img {
	padding-top: 100px;
	width: 100%;
	height: 100%;
	
}

.faster .faster-content button {
	padding: 12px 30px;
	margin-right: 15px;
	border-radius: 30px;
	font-size: var(--fs-17);
	border: 1px solid white;
	cursor: pointer;
	transition: 0.7s;

}

.faster .faster-content button:last-child {
	background-color: transparent;
	color: var(--white-color);

}

.faster .faster-content button:last-child:hover {
	background-color: white;
	color: var(--primary-color);

}

.faster .faster-content button {
	background-color: white;
	color: var(--primary-color);
}

.faster .faster-content button:hover {
	background-color: transparent;
	color: var(--white-color);

}

.faster .faster-content button i {
	margin-right: 5px;
}

/* faster-end */
/* best-start */
.best{
	padding: 100px;
}
.best .best-content h2 {
	font-size: var(--fs-36);
	margin: 0 0 15px;
	font-family: 'Montserrat';
	text-align: center;
	font-weight: 550;
}

.best .best-content p {
	font-size: var(--fs-18);
	margin: 0 0 34px;
	font-family: 'Open Sans';
	text-align: center;
	color: #707070;

}

.best .best-contain {
	box-shadow: 0 0 0 1px #ebebeb;
	margin: 0 auto;
	border-radius: 20px;
	padding: 10px;
	width: 100%;
	height: 100%;
	text-align: center;
	border-top: 6px solid transparent;
}

.best .best-contain h5 {
	font-size: var(--fs-18);
	font-family: Montserrat;
	font-weight: 550;
	margin: 0 0 15px;
	text-align: center;
	padding-top: 45px;
}

.best .best-contain img {
	width: 65px;
	height: 65px;
	margin: 0 auto;
}

.best .best-contain ul li {
	font-size: var(--fs-14);
	font-family: Open Sans;
	padding-top: 20px;
	line-height: 10px;
	text-align: center;
	color: #707070;
}

.best .best-contain h1 {
	font-size: var(--fs-36);
	text-align: center;
	padding: 25px 0;
	color: slateblue;
}

.best .best-contain button {
	font-size: var(--fs-15);
	padding: 10px 25px;
	border-radius: 50px;
	border: 1px solid purple;
	cursor: pointer;

}

.best .best-contain button {
	background-color: transparent;
	color:var(--primary-color);

}
.best  .box .best-contain button a{
	background-color: transparent;
	color:var(--white-color);

}

.best .best-contain button:hover {
	background-color: var(--primary-color);
	color: var(--white-color);
}

.best .best-contain:hover {
	border-top: 6px solid var(--primary-color);
}

.best .box .best-contain {
	border-top: 5px solid transparent;
}

.best .box .best-contain {
	border-top: 5px solid var(--primary-color);
}

.best .box .best-contain button {
	background-color: var(--primary-color);
	color: var(--white-color);
}

.best .box .best-contain button:hover {
	background-color: transparent;
	color: var(--primary-color);
}

.best .customer-content {
	padding-top: 100px;
}

.best .customer-content p {
	font-size: var(--fs-15);
	font-family: 'Open Sans';
	margin: 0 0 50px;
	text-align: center;
	color: gray;
}


.best .faq-icon {
    border: 1px solid black;
	padding: 20px 20px;
	margin-bottom: 20px;
}

.best .faq-icon h4 {
	font-size: var(--fs-15);
	font-family: 'Open Sens';
}

.best .faq-icon i {
	margin-right: 10px;
	color: var(--primary-color);
}

/* best-end */
/* client-start */
.client .client-content h2 {
	font-size: var(--fs-36);
	font-family: 'Open Sans';
	margin: 0 0 15px;
	font-weight: 550;
}

.client .client-content p {
	font-size: var(--fs-18);
	margin: 0 0 22px;
	color: grey;
}

.client .client-content ul li {
	display: inline-block;
	width: 85px;
	height: 30px;
	padding: 0 5px 0 0;
	margin: 5px 50px 5px 0;
}

.client .client-content ul li img {
	transition: 0.5s;
}

.client .client-content ul li img:hover {
	transform: scale(0.5);
}

.client .client-image {
	margin-bottom: 15px;
}

.client .client-image img {
	border-radius: 50%;
	width: 66px;
	height: 66px;
}

.client .client-image h5 {
	font-size: var(--fs-18);
	margin: 0 0 0 10px;
	font-family: 'Montserrat';
	font-weight: 550;
}

.client .client-image span {
	margin-left: 10px;
	font-family: 'Open Sans';
	color: grey
}

.client .client-contain p img {
	display: inline-block;
	width: 30px;
	height: 25px;
	margin-right: 10px;
}

.client .client-contain p {
	font-size: var(--fs-15);
	font-family: 'Open Sans';
	color: #707070;
	line-height: 25px;
}

/* client-end */
/* play-start */

.view {
	background-image: url('../img/hero-bg-1.jpg');
	background-size: cover;
	background-position: center;
	padding: 100px 0;
	position: relative;
	z-index: 1;
}

.view a i {
	display: block;
	text-align: center;
	margin: 0 auto;
	width: 100%;
	color: var(--secondary-color);
	border: 1px solid white;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	margin-bottom: 20px;

}

.view::before {
	position: absolute;
	content: '';
	background-image: linear-gradient(to right, rgba(32, 40, 119, 0.95), rgba(55, 46, 149, 0.95), rgba(83, 49, 177, 0.90), rgba(114, 48, 205, 0.85), rgba(150, 41, 230, 0.95));
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 0.8;
}

.view h2 {
	font-size: var(--fs-18);
	font-family: 'Montserrat';
	font-weight: 500;
	margin: 22px 0 15px;
	color: #fff;
}

/* play-end */
/* team-start */
.team{
	margin-top:50px ;
}
.team .team-image{
	border-radius: 50%;
	overflow: hidden;
	position: relative;
}

.team .team-content h5{
	margin-top: 5px;
}
.team .team-content ul li i{
	margin-right: 15px;
	margin-top:20px;
}

.team-image .team-content{
	position: absolute;
	top:0;
	left:0;
	padding-left: 35%;
	color:var(--white-color);
	background-image: var(--secondary-color);
	width: 100%;
	height: 100%;
	transition: 0.5s;
	visibility: hidden;
	opacity: 0;
}
.team-image:hover .team-content{
	visibility: visible;
	opacity: 1;
}

/* team-end */
/* latest-start */
.latest .latest-content h2 {
	font-size: var(--fs-36);
	font-family: 'Open Sans';
	margin: 0 0 15px;
	font-weight: 550;
}

.latest .latest-content p {
	font-size: var(--fs-18);
	margin: 0 0 22px;
	color: grey;
}
/* latest-end */
/* company-start */
.company{
	background: #f4f7fa;
}
.company .company-content h2{
	font-size: var(--fs-36);
	font-family: 'Montserrat';
	font-weight: 550;
	margin-bottom: 15px;
}
.company .company-content p{
	font-size: var(--fs-15);
	font-family: 'Open Sans';
	font-weight: 450;
	color: grey;
	margin-bottom: 15px;
}
.company .company-content .p1{
	font-size:var(--fs-15);
	font-family: 'Open Sans' ;
	margin: 0 0;
	color:grey;
}
.company .company-content .p3{
	font-size:var(--fs-15);
	font-family: 'Open Sans' ;
	margin: 0 0;
	color:grey;
}
.company .company-form h5{
	font-size: var(--fs-18);
	margin: 0 0 15px;
	font-weight: 550;
	padding: 20px;
}
.company .company-form input{
	padding: 10px;
	width: 100%;
	height: 40px;
	margin: 10px;
	border-radius: 3px;
	border: 0;
}
.company .company-form textarea{
	padding: 10px;
	width: 100%;
	height: 200px;
	margin: 10px;
	border-radius: 3px;
	border: 0.5 solid rgba(0, 0, 0, 0.426);
	border: 0;
}
.company .company-form button{
	font-size: var(--fs-15);
	margin: 20px;
	padding: 10px;
	border-radius: 50px;
	box-shadow: 0 5px 12px 0 rgba(68, 37, 204, 0);

}
.companies .companies-image img{
	width: 120px;
	height: 30px;
	margin: 30px;
}
/* company-end */
/* companiesstart */
.companies img{
	width:130px;
	height:40px;
	margin:20px;

}
/* companies-end */
/* subscribe start */

.sub{
	position: relative;
}
.sub .sub-image {
	position: absolute;
	top:-1px;
	left:0;
}
.sub .form form input{
	position: absolute;
	padding: 10px;
	width:40.3%;
	left:29%;
	height:60px;
	border-radius: 30px;
	bottom: -58px;
	border:0.5px solid #ebebeb;
	color: #707070;

}
.sub .form form button{
	position: absolute;
	left:59%;
	width:10%;
	height:56px;
	border-radius: 30px;
	bottom: -58px;
	border:0.5px solid var(--black-color);
	background-color: var(--primary-color);
	color:#fff;
}
.sub .form form button:hover{
	background-color: transparent;
	color: var(--primary-color);
	border: 1px solid var(--primary-color);
}
/* subscribe end */
/* footer start */
footer{
	background-image: url('../img/footer-bg.png');
	background-size: cover;
	color: #fff;
	padding: 120px 100px 0 70px;
}
.footer-content{
	margin-bottom: 60px;
}
.footer-content img{
	width:120px;
	height:33px;
	margin-bottom: 30px;
}
.footer-content p{
	font-size: 15px;
	margin-bottom: 30px;
	word-spacing: 3px;

}
.footer-content .image i{
	margin-right: 30px;
}
.footer-content h5{
	font-size: var(--fs-18);
	font-weight:var(--fw-600);
	margin-bottom: 20px;
	text-align: justify;
}
.footer-content li{
	text-align: justify;
	line-height: 2.75;
	font-size: var(--fs-14);
}

.footer-content .location ul li{
	text-align: center;
}
.footer-content .location ul li i{
	margin-right: 10px;
}
.footer-end{
	padding-bottom: 40px;
}
.footer-end p{
	font-size: var(--fs-14);
}
.footer-end ul li{
	font-size: var(--fs-14);
	margin-right: 10px;
}
/* footer end */